# =========================
# Terraform
# =========================
**/.terraform/
**.tfstate
**.tfstate.*
**/terraform.tfstate.backup
# Terraform variables containing secrets
**.tfvars
**.tfvars.json


# =========================
# Node.js
# =========================
**/node_modules/


# =========================
# Lambda packages
# =========================
**.zip

